<div class="master">
    <div class="left">
        <img src="../../../../../imagen.svg" alt="">
        <h2>¡Hay <b>solución</b>!</h2>
    </div>
    <div class="right">
        <div class="right__sup">
            <h2>Tranquilo a todos nos pasa</h2>
            <p>Te ayudaremos con esto</p>
        </div>

        <div class="right__sendcode">
            <div class="right__input">
                <span>Confirmar contraseña</span>
                <input>
            </div>
            <button>Enviar codigo</button>
        </div>

        <div class="right__code">
            <p><b>Mira el correo</b></p>
            <div class="right__input">
                <span>Confirmar contraseña</span>
                <input>
            </div>
        </div>
        <button routerLink="/change-Password">Recuperar</button>
    </div>
</div>