<div class="container">
    <header>
        <h1>Nuestras herramientas</h1>
    </header>
    <main>
        <div class="grid">
            <a href="./Riesgos" class="card">
                <svg class="icon text-styling" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                </svg>
                <h2>Riesgos</h2>
                <p>Ingresa los riesgos</p>
            </a>
            <a href="./Controles"  class="card">
                <svg class="icon text-styling" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                </svg>
                <h2>Controles</h2>
                <p>Asigna controles estandar a los riesgos</p>
            </a>
            <a href="./Matriz-Riesgos" class="card">
                <svg class="icon text-styling" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                </svg>
                <h2>Matriz de riesgo</h2>
                <p>Ejecuta la matriz de riesgo</p>
            </a>
        </div>
    </main>
</div>